$BODY_COLOR: #EFEFEF;
body {
  background-color: $BODY_COLOR;
};
.wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 30px;
}
.breadcrumb {
  padding: 20px 0;
}
.text-success {
  font-weight: bold;
  color: #19be6b;
}
.text-error {
  font-weight: bold;
  color: #ed4014; 
}
// #footer {
//   position: fixed;
//   bottom: 0;
// }

.input-info {
  .ivu-input {
     background-color: #EEEEEE !important;
     padding: 8px;
  }
}

.item_wrap {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #EFEFEF;
}