$BODY_COLOR: #EFEFEF;
body {
  background-color: $BODY_COLOR;
};
.wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 30px;
}
.breadcrumb {
  padding: 20px 0;
}
.text-success {
  font-weight: bold;
  color: #19be6b;
}
.text-error {
  font-weight: bold;
  color: #ed4014; 
}
// #footer {
//   position: fixed;
//   bottom: 0;
// }

.input-info {
  .ivu-input {
     background-color: #EEEEEE !important;
     padding: 8px;
  }
}

.item_wrap {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #EFEFEF;
  .ivu-row {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

//footer
html, body, .container{ 
  height:100%
}
#footer {
  margin-top:-30px;
  height:30px;
  background-color:#eee;
}
.wrap-main{
  min-height: 100%;
}
#main{
  padding-bottom:30px;
  overflow:hidden;
}

//hack safari
.ivu-table {
  td, th {
    max-width: 0 !important;
  }
}

.show-error {
  margin: 20px auto;
  width: 800px;
  color: #ed4014;
  text-align: center;
}

@media (max-width: 768px) { 
  .home_tx_list{ 
    margin-top: 20px;
  }
 }

