$BODY_COLOR: #EFEFEF;
body {
  background-color: $BODY_COLOR;
};
.wrap {
  margin-top: 10px;
  padding: 0 30px;
}
.breadcrumb {
  padding: 20px 0;
}
// #footer {
//   position: fixed;
//   bottom: 0;
// }